# Ignore build artifacts (bin and obj folders)
**/bin/
**/obj/
bin/
obj/

# Ignore BiblCal-master folder
BiblCal-master/
BiblCal-master/**

# Ignore all .txt files
*.txt

# But allow Core_Library_Gap_Analysis.txt
!Core_Library_Gap_Analysis.txt

